<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>"God does all the hard work, I just polish it." - Matt</h2>
          <p>If you enjoy the art and are interested in seeing it in your home or office, get in touch so we can discuss your interest:</p>
          <a class="btn btn-small btn-default" href="/contact" >Send A Message</a>
        </div>
      </div>
    </div>
  </div>
</section>
