<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">MATTHEW HATALA<br> ARTISAN WOODTURNER</h1>
          <p class="animated fadeInUp">Master craftsmen and artist of the earth</p>
        </div>
      </div>
    </div>
  </div>
</section>