<section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="portfolio-contant">
                    <ul id="portfolio-contant-active">
                        <% @portfolio_items.each do |portfolio_item| %>
                        <li class="animated fadeInUp <%= portfolio_item.category %>">
                          <a href="#">
                            <img src="<%= portfolio_item.image %>" alt="">
                            <div class="overly">
                              <div class="position-center ">
                                <h2 class="align-center"><%= portfolio_item.title %></h2>
                                <p class="align-center"><%= portfolio_item.subtitle %></p>
                              </div>
                            </div>
                          </a>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>