<% content = ["<h1>Contact the Artist</h1>", "<p>Get in touch with Matthew with any inquiries</p>"] %>
        
<%= render 'shared/global_slider', :content => content %>

<%= render 'shared/contact_form' %>

            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Stop By For A visit</h2>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-map-marker"></i>Georgia, Georgia
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: contact@mail.com
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone:+1 555.555.55555
                    </li>
                  </ul>

                  <ul class="social-icons">
                    <li>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Where all the magic happens</h2>
                    <div class="google-map">
                      <div id="map"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Call to action Start -->
<%= render 'shared/call_to_action' %>
